
@{
    ViewData["Title"] = "Index";
}

<br />

<div align="center">
    <img src="~/images/Lock.png" />
</div>

<br />
<br />

<h2>Input:</h2><br />


<p>This code generates random passwords. Each will have 13 characters, with 4 lowercase, 4 numbers and 4 uppercase, and a special character.</p>

<form action='Home/Result' method='POST' align="left">

    <label>
        Please enter the number of passwords to generate.
    </label><br />
        <input name="quant" type="text" value="" />
    <br /><br />

    <input type="submit" value="Generate Random Passwords" />

</form>
