@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Results:</h2>

<br />

@foreach(var element in Model.RandomPassword)

{
    <p>@Html.DisplayFor(m => element)</p>


}


